<!DOCTYPE html>
<html lang="en-ca">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Commands | Perseverance Bot Website</title>
        <style>
        a:link, a:visited {
        background-color: #7289DA;
        color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;border-radius: 10px;
        }

        a:hover, a:active {
        background-color: #99AAB5;
        }
        </style>
    </head>
    <body style="background-color:#202225;">
        <h1 style="display:table;margin:10px auto 10px auto;padding:25px;background-color:#292D30;color:#FFFFFF;font-family:Arial;text-align:center;border-radius:50px;">Commands</h1>
        <h3 style="font-family:Arial;font-size:20px;color:#FFFFFF;background-color:#292D30;display:table;margin:10px auto 10px auto;padding:25px;background-color:#292D30;color:#FFFFFF;font-family:Arial;text-align:center;border-radius:50px;text-align:center;"><a href="https://Perseverance-Bot.toricane.repl.co">Home</a>&nbsp&nbsp&nbsp<a href="https://discord.com/api/oauth2/authorize?client_id=811277990913769523&permissions=3691244614&scope=bot%20applications.commands" target="_blank">Invite</a>&nbsp&nbsp&nbsp<a href="https://Perseverance-Bot.toricane.repl.co/commands">Commands</a></h3>
        <h5 style="font-family:Arial;font-size:20px;color:#FFFFFF;background-color:#292D30;display:table;margin:10px auto 10px auto;padding:25px;background-color:#292D30;color:#FFFFFF;font-family:Arial;text-align:left;border-radius:50px;">Not finished</h5>
    </body>
</html>